/* REGOLE GENERALI CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightskyblue;
}


/* REGOLE CONTAINER */
.grid-container{
    width: 50%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    margin-top: 30px;
}

.container-points{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}


/* REGOLE BOX */

.box{
    width: calc(100% / 10);
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

/* REGOLE ACTIVE BOX */

.box.active{
    background-color: #fff;
}

/* REGOLE BOMB BOX */
.box.bomb{
    background-color: red;
}


/* REGOLE BUTTON */

button, select{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
   
}

#start-container{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.none{
    display: none;
}