/* REGOLE GENERALI CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightskyblue;
}


/* REGOLE CONTAINER */
.grid-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container{
    height: 100vh;
}


/* REGOLE BOX */

.box{
    aspect-ratio: 1 / 1;
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.box.disabled{
    pointer-events: none;
}

.box.box-100{
    width: calc(100% / 10);
}

.box.box-81{
    width: calc(100% / 9);
}

.box.box-49{
    width: calc(100% / 7);
}


/* REGOLE ACTIVE BOX */

.box.active{
    background-color: #fff;
}

/* REGOLE BOMB BOX */
.box.bomb{
    background-color: red;
}


/* REGOLE BUTTON */

button, select{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
   
}

#start-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.none{
    display: none;
}